
html {  
    scroll-behavior: smooth;  
}
body{
    
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
    background-image: linear-gradient(to left, #0f0c29, #302b63 ,#24243e );
}
.head {
    padding-left: 15px;
    
    float: left;
    width: 100%;
    background-color: violet;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
   background-color: transparent;
}
.head img{
    padding-left: 25px;

    width: 9%;
    
}


nav  {
    display: flex;  
    justify-content: center;
    margin-right: 120px;
    margin-top: 20px;
    text-align: right;
    float: right;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
   
   
}
#social{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    width: 50px;
    padding-right: 80px;
}
#news{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
   padding-right: 140px;
}
#media{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    padding-right: 20px;
    padding-right: 50px;
}
#sign{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
#button{
    
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}
#bb{
    margin-left: 320px;
    outline: none;
    border: none;
    border-color: 3px solid rgba(255, 16, 68, 0.61) ;
    background-color: transparent;
    width: 70px;
    height: 24px;
    border-radius:24px ;
    transition: 0.3s;
    
}
.play{
    margin-top: 200px;
    float: left;
    background-color: rgb(255, 255, 249);
    width: 8px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    left: 0;
    position: fixed;   
}
#audio{
    size: 25px;
    object-fit: contain;
    width: 100%;
}
.play:hover{
    width: 10%;
}
.play:hover #audio{
    width: 100%;
}


main{
    padding-top: 18px;
   padding-left: 0px;
    clear: both;
    height: 1000px;
    width: 100%;
    
}

.cr{
    margin-right: 2px;
    text-align: center;
    height: 600px;
    width: 48%;
    
    padding-top: 10px;
    float: right; 
}
#c7{padding-top: 20px   ;
    text-align: center;
}
.art{
    margin-right: 2px;
    text-align: center;
    height: 600px;
    width: 48%;
    
    padding-top: 10px;
    float: left; 
    
}
#aa{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
#ba{float: left; 
    margin-left: 140px;
    margin-top: 0px;
    width: 75px;
    border-color:rgb(16, 167, 255) ;
    background: transparent;
    
    width: 70px;
    height:30px;
    border-radius:24px ;
}
.art p{
    color: white;
    font-family: 'Roboto Slab', serif;
    padding-left: 130px;
    padding-top: 180px;
    width: 400px;
}
#ba:hover{
    background:rgb(16, 167, 255) ;
    cursor: pointer;
}
#block1{
    margin-top: 50px;
    margin-left: 30px;
    float:left;
    width: 30%;
    height: 320px;
    background-color: rgb(250, 250, 250);

    box-shadow: rgba(0, 0, 0, 0.575) 0px 25px 20px -20px;
    transform:skew(1.3);
}

#block2{
    margin-top: 50px;
    margin-left: 30px;
    float:left;
    width: 30%;
    height: 320px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.575) 0px 25px 20px -20px;

}
#block3{
    margin-top: 50px;
    margin-left: 30px;
    float:left;
    width: 30%;
    height: 320px;
    background-color:rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.575) 0px 25px 20px -20px;

}

#block1:hover , #block2:hover , #block3:hover{
    transform: scale(1.1);
}

.block0{


height: 600px;
    width: 45%;
   
  top: 0;
  left: 0;
}
.block0 img{
bottom:150px;

left: -50px;

}

  #c7 {
      
    position: absolute;
    top: 30px;
    left: 730px;
  }
  

  hr{
     background-color: rgb(19, 19, 19);
  }
  footer
  {
      height: 100px;
      width: 100%;
      text-align: center;
      line-height: 100px;  
    }
    #fb:hover , #twitter:hover , #instagram:hover{ 
        transition: 0.3s ease-in-out;
      transform: scale(1.8);
    }

#inst{  
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15%;
}
#ins{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    
}
#inst img{
    transition: 0.5s ease-in-out;
    transform: scale(1);
    filter: grayscale(100%);
}
#inst img:hover{
    transform: scale(1.1) rotate(-15deg) ;
    filter: grayscale(0%);
}
#fbb{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 14%;
}
#fbb img{
    transition: 0.5s ease-in-out;
    transform: scale(1); 
    filter: grayscale(100%);
}
#fbb img:hover{
    transform: scale(1.2) rotate(0deg);
    filter: grayscale(0%);
}
#twi{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    

}
#twi img{
    transition: 0.5s ease-in-out;
    transform:scale(1);
    filter: grayscale(100%);

}
#twi img:hover{
    transform:scale(1.2) rotate(15deg);
    filter: grayscale(0%);

}
#bb:hover{
    background: rgb(255, 16, 68);
}
#myvideo{
    width: 100%;
}
@media only screen and (max-width: 1340px) {
    #c7{
        left:710px;
    }
}
@media only screen and (max-width: 1320px) {
    
    nav {
        display: flex;
        justify-content: center;
        margin-right: 105px;
        margin-top: 20px;
        text-align: right;
        float: right;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
    }
    #bb {
        margin-left: 320px;
        outline: none;
        border: none;
        border-color: 3px solid rgba(255, 16, 68, 0.61);
        background-color: transparent;
        width: 70px;
        height: 24px;
        border-radius: 24px;
        transition: 0.3s;
    }
    #sign {
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
        padding-left: 0px;
    }
    #c7{
        left:700px;
    }
}
@media only screen and (max-width: 1300px) {
    nav {
        display: flex;
        justify-content: center;
        margin-right: 96px;
        margin-top: 20px;
        text-align: right;
        float: right;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
    }
    #c7{
        left:690px;
    }
}
@media only screen and (max-width: 1285px) {
    nav {
        display: flex;
        justify-content: center;
        margin-right: 70px;
        margin-top: 20px;
        text-align: right;
        float: right;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
    }
    #social {
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
        width: 50px;
        padding-right: 80px;
    }
    #media {
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
        padding-right: 20px;
        padding-right: 50px;
    }
    #news {
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
        padding-right: 200px;
    }
    #sign {
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
        padding-left: 0px;
    }
    #c7{
        left: 670px;
    }
}
@media only screen and (max-width: 1257px) {
    #c7{
        left: 650px;
    }
    @media only screen and (max-width: 1220px) {
        #c7{
            left: 630px;
        }
    }
    @media only screen and (max-width: 1192px) {
        #c7{
            left: 620px;
        }
        nav {
            display: flex;
            justify-content: center;
            margin-right: 30px;
            margin-top: 20px;
            text-align: right;
            float: right;
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 1167px) {
        #c7{
            left: 610px;
        }
    }
    @media only screen and (max-width: 1149px) {
        nav {
            display: flex;
            justify-content: center;
            margin-right: 0px;
            margin-top: 20px;
            text-align: right;
            float: right;
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
        }
        #c7{
            left: 596px;
        }
    }
    @media only screen and (max-width: 1134px) {
        .head img {
            padding-left: 5px;
            width: 9%;
        }
        nav {
            display: flex;
            justify-content: center;
            margin-right: 15px;
            margin-top: 20px;
            text-align: right;
            float: right;
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
        }
        #social {
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
            width: 50px;
            padding-right: 100px;
        }
        #c7 {
            left: 587px;
        }
    }
    @media only screen and (max-width: 1109px) {
        nav {
            display: flex;
            justify-content: center;
            margin-right: 8px;
            margin-top: 20px;
            text-align: right;
            float: right;
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
        }
        .art p {
            color: white;
            font-family: 'Roboto Slab', serif;
            padding-left: 60px;
            padding-top: 180px;
            width: 400px;
        }
        #ba {
            float: left;
            margin-left: 70px;
            margin-top: 0px;
            width: 75px;
            border-color: rgb(16, 167, 255);
            background: transparent;
            width: 70px;
            height: 30px;
            border-radius: 24px;
        }
        #c7 {
            left: 569px;
            top: px;
        }
    }
    @media only screen and (max-width: 1078px) {
        nav {
            display: flex;
            justify-content: center;
            margin-right: 2px;
            margin-top: 20px;
            text-align: right;
            float: right;
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
        }
        
        .block0 img {
            width: 400px;
    margin-right: 60px;
    position: relative;
    bottom: 120px;
    left: -40px;
        }
    #c7 {
        left: 550px;
        top: px;
    }
    }
    @media only screen and (max-width: 1053px) {

        #c7 {
            left: 530px;
        }
    }
    @media only screen and (max-width: 1040px) {

        #c7 {
            left: 520px;
        }
    }
    @media only screen and (max-width: 1036px) {
        nav {
            display: flex;
            justify-content: center;
            margin-right: 0px;
            margin-top: 20px;
            text-align: right;
            float: right;
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
        }
        #social {
            font-family: 'Roboto Slab', serif;
            color: white;
            text-decoration: none;
            width: 50px;
            padding-right: 80px;
        }
    }
@media only screen and (max-width: 1024px) {
    .head {
        padding-left: 15px;
        float: left;
        width: 100%;
        background-color: violet;
        font-family: 'Roboto Slab', serif;
        color: white;
        text-decoration: none;
        background-color: transparent;
        text-align: center;
    }
    .head img {
        padding-left: 2px;
        width: 25%;
    }
    nav{
        display: none;
    }
    .art p {
        color: white;
        font-family: 'Roboto Slab', serif;
        padding-left: 10px;
        padding-top: 140px;
        width: 400px;
    }
    #ba {
        float: left;
        margin-left: 20px;
        margin-top: 0px;
        width: 75px;
        border-color: rgb(16, 167, 255);
        background: transparent;
        width: 70px;
        height: 30px;
        border-radius: 24px;
    }
    .block0{

        width: 450px;
        margin-right: 50px;
        position: relative;}

    .block0 img {
        width: 300px;
        position: relative;
        bottom: 80px;
        right: 0px;
        left: 5%;
    }
    #c7 {
        position: absolute;
        top: 150px;
        left: 650px;
    }
    #c7 {
        padding-top: 90px;
        text-align: center;
        width: 30%;
    }
    #block1 {
        margin-top: 50px;
        margin-left: 10px;
        float: left;
        width: 30%;
        height: 320px;
        background-color: rgb(250, 250, 250);
        box-shadow: rgb(0 0 0 / 57%) 0px 25px 20px -20px;

    }
  }
  @media only screen and (max-width: 1000px) {
    #myvideo {
        margin-left: 12px;
        width: 100%;
    }
    #hrr {
        margin-left: 12px;
        background-color: rgb(19, 19, 19);
    }
  }
  @media only screen and (max-width: 974px) {
    #hrr {
        display: none;}
    }
}
@media only screen and (max-width: 953px) {
 #c7{
     left: 510px;
 }
 #block1 {
    margin-top: 50px;
    margin-left: 33px;
    float: left;
    width: 30%;
    height: 320px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgb(0 0 0 / 57%) 0px 25px 20px -20px;
}
#inst {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15%;
    margin-left: 5%;
}
#myvideo {
    margin-left: 3%;
    width: 100%;
}
}
@media only screen and (max-width: 937px) {
    #c7 {
        left: 638px;
    }
    #block1 {
        margin-top: 50px;
        margin-left: 4%;
        float: left;
        width: 30%;
        height: 260px;
        background-color: rgb(250, 250, 250);
        box-shadow: rgb(0 0 0 / 57%) 0px 25px 20px -20px;
    } #block2 {
        margin-top: 50px;
        margin-left: 3%;
        float: left;
        width: 30%;
        height: 260px;
        background-color: rgb(250, 250, 250);
        box-shadow: rgb(0 0 0 / 57%) 0px 25px 20px -20px;
    }
    #block3 {
        margin-top: 50px;
        margin-left: 3%;
        float: left;
        width: 30%;
        height: 260px;
        background-color: rgb(250, 250, 250);
        box-shadow: rgb(0 0 0 / 57%) 0px 25px 20px -20px;
    }
#inst {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15%;
    margin-left: 5%;
}
#myvideo {
    margin-left: 3%;
    width: 100%;
}
}
@media only screen and (max-width: 918px) {
    .block0 {
        width: 350px;
        margin-right: 60px;
        position: relative;

    }
    .block0 img{
        
        bottom: 70px;
        right: 0px;
        left: 11%;
    }
    #inst {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15%;
        margin-left: 2%;
    }
}
@media only screen and (max-width: 878px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 110%;
    }
    #c7 {
        left: 675px;
    }   
    #hr2{
        display: none;
    }
    
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 115%;
    }
    #inst {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 13%;
    }
    #fbb {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: -15%;
    }
    #twi {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 25%;
    }
    #myvideo {
        margin-left: 63px;
        width: 100%;
    }
    #hrr {
        display: none;
    }
    footer{
        width: 115%;
    }
}
@media only screen and (max-width: 846px) {
    #c7 {
        left: 668px;
    }
    .block0 img{
        
        bottom: 65px;
        right: 0px;
        left: 11%;
    }
}
@media only screen and (max-width: 822px) {
    #c7 {
        left: 660px;
    }
    .block0 img{
        
        bottom: 63px;
        right: 0px;
        left: 11%;
    }
    #myvideo {
        margin-left: 0;
        width: 120%;
    }
}
    @media only screen and (max-width: 803px) {
        #c7 {
        left: 650px;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 122%;
    }
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 120%;
    }
    .block0 img {
        bottom: 63px;
        right: 0px;
        left: 1px;
    }
    #c7 {
        left: 650px;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 122%;
    }
    #myvideo {
        margin-left: 0;
        width: 127%;
    }
    footer {
        width: 125%;
    }
}
@media only screen and (max-width: 784px) {
    .block0 img {
        bottom: 56px;
        right: 0px;
        left: 1px;
    }
    #c7 {
        left: 648px;
    }   
    #myvideo {
        margin-left: 0;
        width: 129%;
    }
}
@media only screen and (max-width: 760px) {
 
    #c7 {
        left: 636px;
    } 
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 128%;
    }
    #myvideo {
        margin-left: 0;
        width: 131%;
    }
    
}
@media only screen and (max-width: 739px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 129%;
    }
    #c7 {
        left: 660px;
    }
    .block0 img {
        bottom: 54px;
        right: 0px;
        left: 1px;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 132%;
    }
    #myvideo {
        margin-left: 0;
        width: 137%;
    }
    footer {
        width: 130%;
    }
}
@media only screen and (max-width: 710px) {
    .head img {
        padding-left: 45%;
        width: 25%;
        text-align: center;
    }
    .block0 img {
        bottom: 50px;
        right: 0px;
        left: 1px;
    }
    #c7 {
        left: 648px;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 136%;
    }
    #myvideo {
        margin-left: 0;
        width: 140%;
    }
    footer {
        width: 132%;
    }
}
@media only screen and (max-width: 686px) {
    .block0 img {
        bottom: 58px;
        right: 0px;
        left: 1px;
    }
    #c7 {
        position: absolute;
    top: 110px;
        left: 590px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 142%;
    }
    #myvideo {
        margin-left: 0;
        width: 143%;
    }
}
@media only screen and (max-width: 662px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 142%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 148%;
    }
    #myvideo {
        margin-left: 0;
        width: 153%;
    }
    footer {
        width: 145%;
    }
}
@media only screen and (max-width: 625px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 150%;
    }
    #c7 {
        position: absolute;
        top: 110px;
        left: 599px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 155%;
    }
    #myvideo {
        margin-left: 0;
        width: 157%;
    }
    footer {
        width: 154%;
    }
    @media only screen and (max-width: 598px) {
        .head img {
            padding-left: 50%;
            width: 25%;
            text-align: center;
        }
        main {
            padding-top: 18px;
            padding-left: 10px;
            clear: both;
            height: 1000px;
            width: 156%;
        }
        #c7 {
            position: absolute;
            top: 110px;
            left: 615px;
            width: 45%;
        }
        #ins {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            width: 164%;
        }
        #myvideo {
            margin-left: 0;
            width: 168%;
        }
        footer {
            width: 163%;
        }
    }
    @media only screen and (max-width: 569px) {
        main {
            padding-top: 18px;
            padding-left: 10px;
            clear: both;
            height: 1000px;
            width: 162%;
        }
        #ins {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            width: 170%;
        }
        #myvideo {
            margin-left: 0;
            width: 176%;
        }
        footer {
            width: 172%;
        }
    }
    @media only screen and (max-width: 550px) {
        main {
            padding-top: 18px;
            padding-left: 10px;
            clear: both;
            height: 1000px;
            width: 168%;
        }
        #c7 {
            position: absolute;
            top: 107px;
            left: 624px;
            width: 45%;
        }
        #ins {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            width: 178%;
        }
        #myvideo {
            margin-left: 0;
            width: 183%;
        }
        footer {
            width: 178%;
        }
    }
    @media only screen and (max-width: 529px) {
        .head img {
            padding-left: 77%;
            width: 25%;
            text-align: center;
        }
        main {
            padding-top: 18px;
            padding-left: 10px;
            clear: both;
            height: 1000px;
            width: 175%;
        }
        #c7 {
            position: absolute;
            top: 104px;
            left: 630px;
            width: 45%;
        }
        #ins {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            width: 184%;
        }
        #myvideo {
            margin-left: 0;
            width: 190%;
        }
        footer {
            width: 182%;
        }
    }
    @media only screen and (max-width: 510px) {
        main {
            padding-top: 18px;
            padding-left: 10px;
            clear: both;
            height: 1000px;
            width: 182%;
        }
        #c7 {
            position: absolute;
            top: 104px;
            left: 636px;
            width: 45%;
        }
        #ins {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            width: 190%;
        }
        #myvideo {
            margin-left: 0;
            width: 198%;
        }
        footer {
            width: 191%;
        }
    }
    @media only screen and (max-width: 494px) {
        .head img {
            padding-left: 90%;
            width: 25%;
            text-align: center;
        }
        main {
            padding-top: 18px;
            padding-left: 10px;
            clear: both;
            height: 1000px;
            width: 192%;
        }
        #c7 {
            position: absolute;
            top: 104px;
            left: 654px;
            width: 45%;
        }
        #ins {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            width: 205%;
        }
        #myvideo {
            margin-left: 0;
            width: 207%;
        }
        footer {
            width: 198%;
        }
    }

@media only screen and (max-width: 482px) {
    main{
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 198%;
    }
    #c7 {
        position: absolute;
        top: 101px;
        left: 658px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 210%;
    }
    #myvideo {
        margin-left: 0;
        width: 212%;
    }
    footer {
        width: 202%;
    }
}
@media only screen and (max-width: 452px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 207%;
    }
    #c7 {
        position: absolute;
        top: 95px;
        left: 656px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 220%;
    }
    #myvideo {
        margin-left: 0;
        width: 224%;
    }
    footer {
        width: 208%;
    }
}
@media only screen and (max-width: 432px) {
    .head img {
        padding-left: 109%;
        width: 25%;
        text-align: center;
    }
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 217%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 228%;
    }
    #myvideo {
        margin-left: 0;
        width: 235%;
    }
    footer {
        width: 215%;
    }

}
@media only screen and (max-width: 408px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 228%;
    }
    #c7 {
        position: absolute;
        top: 95px;
        left: 663px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 238%;
    }
    #myvideo {
        margin-left: 0;
        width: 248%;
    }
    footer {
        width: 228%;
    }
}
@media only screen and (max-width: 392px) {
    .head img {
        padding-left: 115%;
        width: 25%;
        text-align: center;
    }
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 237%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 245%;
    }
    #myvideo {
        margin-left: 0;
        width: 258%;
    }
    footer {
        width: 237%;
    }
}
@media only screen and (max-width: 382px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 246%;
    }
    #c7 {
        position: absolute;
        top: 92px;
        left: 680px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 260%;
    }
    #myvideo {
        margin-left: 0;
        width: 267%;
    }
    footer {
        width: 245%;
    }
}
@media only screen and (max-width: 374px) {
    .head img {
        padding-left: 120%;
        width: 25%;
        text-align: center;
    }
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 252%;
    }
    #c7 {
        position: absolute;
        top: 88px;
        left: 680px;
        width: 45%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 275%;
    }
    #myvideo {
        margin-left: 0;
        width: 273%;
    }
    footer {
        width: 260%;
    }
}
@media only screen and (max-width: 358px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 262%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 279%;
    }
    #myvideo {
        margin-left: 0;
        width: 285%;
    }
    footer {
        width: 268%;
    }
}
@media only screen and (max-width: 348px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 270%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 284%;
    }
    #myvideo {
        margin-left: 0;
        width: 293%;
    }
    footer {
        width: 274%;
    }
}
@media only screen and (max-width: 338px) {
    main {
        padding-top: 18px;
        padding-left: 10px;
        clear: both;
        height: 1000px;
        width: 280%;
    }
    #ins {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 292%;
    }
    #myvideo {
        margin-left: 0;
        width: 304%;
    }
    footer {
        width: 290%;
    }
}










